<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="login.component.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="/src/assets/wave.png">
	<div class="container">
		<div class="img">
			<img src="assets/online-world.svg">
		</div>
		<div class="login-content">
			<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
				<img src="assets/dp.png">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="bx bxs-user"></i>
           		   </div>
           		   <div class="div">
							  <input type="text" class="form-control" name="userName" id="userName" placeholder="User Name" [(ngModel)]="model.userName" #Username="ngModel" required [ngClass]="{'is-invalid' : form.submitted && Username.invalid}">
							 
							</div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="bx bxs-lock"></i>
           		   </div>
           		   <div class="div">
					<input type="text" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="model.password" #Password="ngModel" required [ngClass]="{'is-invalid' : form.submitted && Password.invalid}">
					
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
				<button class="btn"(click)="login()" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
