/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
  }
  
  .container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Button styles */
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  /* Dialog styles */
  #job-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 10px;
  }
  
  .dialog.hidden {
    display: none;
  }
  
  /* Job List and Card styles */
  #job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .job-card {
    background-color: white; /* Background set to white */
    border: 2px solid #00a09e; /* Border is blueish-green */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 200px; /* Adjusted width */
    height: 180px; /* Adjusted height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is evenly spaced */
    position: relative;
    color: #0f0f0f; /* Darker teal color */
  }
  
  .job-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .job-card p {
    margin: 5px 0;
  }
  
  .job-card ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .job-card button.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  /* Input Form Styling */
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  