       <main>
       <section class="hero">
            <div class="row">
                <div class="container">
                    <div class="column" style="margin-top: 12%; margin-left: 5%;">
                        <h2 style="font-size: 60px; font-family: 'Times New Roman', Times, serif; margin-left: 10%;">HR Management..</h2>
                        <div class="buttons" style="margin-left: 20%;">
                            <button class="btn" (click)="redirectToLogin()">Login</button>
                            <button class="btn" (click)="redirectToRegister()">Sign-up</button>
                        </div>
                    </div>
                    <div class="column">
                        <img src="assets/hero.png" alt="heroImg" class="hero_img" />
                    </div>
                </div>
            </div>
            <img src="assets/bg-bottom-hero.png" alt="" class="curveImg" />
        </section>
        
    </main>
    

 
